.bg {
  position: absolute;
  top: 60px;
  left: 65px;
}

.text {
  font-family: eb-garamond,serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: white;
  position: absolute;
}
