.bg {
  position: absolute;
}

.title {
  font-family: Gafata;
  font-weight: 400;
  font-size: 48px;
  color: black;
}

.text {
  font-family: eb-garamond,serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: black;
  position: absolute;
}

.btn {
  margin-left: 15px;
  font-family: Gafata;
  font-weight: 400;
  font-size: 16px;
  color: white;
  border-radius: 25px;
  background-color: #A89173;
  border: 0px;
  padding: 5px;
}
